CompileFlags:
    Add:
     - "-I/Users/jalen/git/memory-allocator/src/Utilities"
     - "-I/Users/jalen/git/memory-allocator/src/Application"
     - "-I/Users/jalen/git/memory-allocator/src/Allocator"
